* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  max-width: 1400px;
  margin: 0 auto;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 10px;
}
.header .logo-container {
  width: 230px;
}
.header .logo-container .logo-image {
  width: 100%;
  height: 100%;
}
.header .navigation-menu {
  width: 300px;
  padding-right: 10px;
}
.header .navigation-menu .navigation-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
}

.main .button-container {
  display: flex;
  justify-content: center;
  gap: 20px;
}
.main .button-container .button-titan {
  padding: 10px 30px;
}
.main .button-container .button-character {
  padding: 10px 20px;
}
.main .data-container {
  padding: 0 10px;
  position: relative;
}
.main .data-container .data-titan__container {
  max-width: 1400px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.main .data-container .data-titan__container .data-titan {
  display: flex;
  gap: 10px;
  height: 200px;
}
.main .data-container .data-titan__container .data-titan .data-image__container {
  min-width: 220px;
  height: 200px;
}
.main .data-container .data-titan__container .data-titan .data-image__container .data-image__titan {
  width: 100%;
  height: 100%;
}
.main .data-container .data-titan__container .data-titan .data-titan__info {
  position: relative;
  padding: 5px;
}
.main .data-container .data-titan__container .data-titan .data-titan__info .data-titan__state-container {
  margin-bottom: 10px;
}
.main .data-container .data-titan__container .data-titan .data-titan__info .data-titan__button-teaser {
  position: absolute;
  bottom: 0;
  left: 0;
}
.main .data-container .data-character__container {
  max-width: 1400px;
  position: absolute;
  top: 0;
  opacity: 0;
  display: flex;
  display: none;
  flex-direction: column;
  gap: 10px;
}
.main .data-container .data-character__container .data-character {
  display: flex;
  gap: 10px;
  height: 200px;
}
.main .data-container .data-character__container .data-character .data-image__container {
  min-width: 220px;
  height: 200px;
}
.main .data-container .data-character__container .data-character .data-image__container .data-image__character {
  width: 100%;
  height: 100%;
}
.main .data-container .data-character__container .data-character .data-character__info {
  position: relative;
  padding: 5px;
}
.main .data-container .data-character__container .data-character .data-character__info .data-character__state-container {
  margin-bottom: 10px;
}
.main .data-container .data-character__container .data-character .data-character__info .data-character__button-teaser {
  position: absolute;
  bottom: 0;
  left: 0;
}
.main .modal {
  display: none;
  width: 600px;
  height: 400px;
  background-color: rgb(35, 35, 37);
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}
.main .modal .modal-close {
  display: block;
  text-align: end;
  font-size: 20px;
  color: white;
  cursor: pointer;
}
.main .modal .modal-video {
  width: 100%;
  height: 100%;
}

/*# sourceMappingURL=style.css.map */
