* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --backgroundColor: #212124;
  --textColor: #fff;
}

body {
  overflow-x: hidden;
}

.header {
  max-width: 1400px;
  margin: 0 auto;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  .header-logo__container {
    width: 240px;

    .header-logo {
      width: 100%;
    }
  }

  .header-nav__container {
    width: 300px;

    .header-nav__list {
      display: flex;
      justify-content: space-around;

      .header-nav__item {
        list-style: none;

        .header-nav__link {
          text-decoration: none;
          font-size: 1.2rem;
        }
      }
    }
  }
}

.main {
  max-width: 1400px;
  margin: 0 auto;

  .button-container {
    display: flex;
    gap: 10px;
    max-width: max-content;
    margin: 20px auto 20px;

    .button {
      all: unset;
      font-size: 1.4rem;
      padding: 10px 20px;
      cursor: pointer;
      transition: 0.3s;
    }

    .selectTitan {
      background-color: #2b2bac;
    }

    .selectCharact {
      background-color: #2b2bac;
    }
  }
  .coso {
    position: relative;
    display: flex;

    .titan-container {
      display: flex;
      flex-direction: column;
      gap: 40px;
      max-width: 1200px;
      margin: 0 auto;

      .titan-data {
        display: flex;
        justify-content: space-between;
        width: 100%;
        height: 200px;

        .titan-image__container {
          width: 300px;
          height: 100%;

          .titan-image {
            width: 100%;
            height: 100%;
            object-fit: contain;
          }
        }

        .titan-info {
          width: 880px;
        }
      }
    }

    .character-container {
      display: flex;
      flex-direction: column;
      gap: 40px;
      max-width: 1200px;
      margin: 0 auto;

      .character-data {
        display: flex;
        justify-content: space-between;
        width: 100%;
        height: 200px;

        .character-image__container {
          width: 300px;
          height: 100%;

          .character-image {
            width: 100%;
            height: 100%;
            object-fit: contain;
          }
        }

        .character-info {
          width: 880px;
        }
      }
    }
  }
}
