* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --backgroundColor: #212124;
  --textColor: #fff;
}

.header {
  max-width: 1400px;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  .header-logo__container {
    width: 240px;

    .header-logo {
      width: 100%;
    }
  }

  .header-nav__container {
    width: 300px;
    .header-nav__list {
      display: flex;
      justify-content: space-around;

      .header-nav__item {
        list-style: none;

        .header-nav__link {
          text-decoration: none;
          font-size: 1.2rem;
        }
      }
    }
  }
}
